.css_test {
  width: auto;
  height: 600px;
  box-sizing: border-box;
}

.map__ttl {
  font-size: 60px;
  padding: 20px 20px;
  display: inline-block;
  color: darkblue;
}

li {
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  color: darkblue;
}

.map__contents__1 {
  display: flex;
  padding: 20px;
  list-style: none;
  float: right;
}

.main {
  position: relative;
}

.main__img {
  width: 50%;
  margin: 100px 0 0 auto;
}

.firstview {
  width: 100%;
}

.main__text {
  position: absolute;
  font-size: 60px;
  bottom: 100px;
  line-height: 1;
}

.main__box {
  width: 75%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  background-color: rgb(28, 28, 196);
  z-index: -1;
}
